<style>

.content-row-box > div{
    height: 100px !important;
}
#circle1 {
    background-color:#86efef;
    width:150px;
    height:150px;
    border-radius:75px;
    text-align:center;
    margin-top:10px !important;
    margin:0 auto;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
}

</style>